<app-appbar [header]="header">
</app-appbar>

<ion-content class="scroll-content" padding>
    <ion-list *ngIf="this.pedidos.length > 0">
        <ion-item *ngFor="let data of pedidos">
            <ion-card>
                <ion-card-content padding>
                    {{data.nombre}}
                    <ion-button padding-start float-right (click)="finalizar(data)">
                        Finalizado
                    </ion-button>
                    <h2><b>€{{data.precio}}</b></h2>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
    <div *ngIf="this.pedidos.length == 0">No hay ningún pedido vigente</div>
</ion-content>
